body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.padding-container {
  padding: 3rem 1.5rem;
}

.grid-container .card {
  margin-right: 3vw;
  margin-bottom: 3vh;
  width: 15vw;
  max-width: 15vw;

}

.font-weight-normal {
  font-weight: normal;
}
